%% vim: set filetype=erlang : -*- erlang -*-

{erl_opts, [
            warnings_as_errors,
            warn_export_all,
            warn_untyped_record
           ]}.

{xref_checks, [
               fail_on_warning,
               undefined_function_calls,
               deprecated_function_calls,
               exports_not_used,
               locals_not_used
              ]}.

{cover_enabled, true}.
{validate_app_modules, true}.

{dialyzer, [
            {warnings, [no_return, no_undefined_callbacks,
                        unmatched_returns, error_handling, underspecs]}
           ]}.

{alias, [{test, [compile, dialyzer, xref, cover, edoc]}]}.
