%% vim: set filetype=erlang : -*- erlang -*-

{erl_opts, [
            warnings_as_errors,
            warn_export_all,
            warn_untyped_record
           ]}.

{xref_checks, [
               fail_on_warning,
               undefined_function_calls
              ]}.
{cover_enabled, true}.
{validate_app_modules, true}.

{dialyzer, [{plt_extra_apps, [providers]}]}.

{profiles,
 [{test,
   [
    {erl_opts,  [export_all]},
    {deps,      [{rebar, {git, "git://github.com/erlang/rebar3", {tag, "3.6.0"}}}]}
   ]}
 ]}.
